# dependencies
/node_modules
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*
/.pnp

# build output
/.next/
/build
/out/
/coverage
*.tsbuildinfo
next-env.d.ts

# python
env/
venv/

# environment & secrets
.env*
*.pem

# deployment
.vercel

# os
.DS_Store

# claude
.claude/

# project specific
code_dump_*.txt
export_*
ch_*
